/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


/* Global Styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(0, 0%, 95%);
}

main {
  width: 350px;
  margin: 2em auto;
}

@media (min-width: 700px) {
  main {
    width: auto;
    max-width: 920px;
    display: flex;
  }
  section {
    flex: 1;
  }
}

section {
  padding: 50px;
}


h1 {
  font-family: 'Big Shoulders Display', cursive;
  margin-top: 70px;
  margin-bottom: 28px;
  font-size: 38px;
  text-transform: uppercase;
}

section.first {
  background-image: url("images/icon-sedans.svg");
  background-repeat: no-repeat;
  background-position: 50px 50px;
  border-radius: 6px 6px 0 0;
}

@media (min-width: 700px) {
  section.first {
    border-radius: 6px 0 0 6px;
  }
}

section.second {
  background-image: url("images/icon-suvs.svg");
  background-repeat: no-repeat;
  background-position: 50px 50px;
}

section.third {
  background-image: url("images/icon-luxury.svg");
  background-repeat: no-repeat;
  background-position: 50px 50px;
  border-radius: 0  0 6px 6px;
}

@media (min-width: 700px) {
  section.third {
    border-radius: 0 6px 6px 0;
  }
}

section.first {
  background-color: hsl(31, 77%, 52%);
}

section.second {
  background-color: hsl(184, 100%, 22%);
}

section.third {
  background-color: hsl(179, 100%, 13%);
}

section p, section h1 {
  color: hsl(0, 0%, 100%);
}

section p {
  
  font-size: 15px;
  font-weight: 400;
  opacity: 0.65;
  line-height: 1.6;
  
  margin-bottom: 0;
  padding-right: 14px;
}

@media (min-width: 700px) {
  
  section p {
    padding-right: 0;
  }

}

section button {
  
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.65);
  border: none;
  
  padding: 15px 44px;
  margin: 30px 0 26px 0;
  border-radius: 50px;
}

section.first button {
  color: hsl(31, 77%, 52%);
}

section.second button {
  color: hsl(184, 100%, 22%);
}

section.third button {
  color: hsl(179, 100%, 13%);
}


@media (min-width: 700px) {
  section button {
    margin-top: 80px;
  }
}